 @import url("https://fonts.googleapis.com/css2? family= Peralta & display=swap");
 
*{ 
    margin: 0px; 
    padding: 0px;
}
header img{ 
    width: 100px;
    height:100px;
}
.header{ 
    background-color: #D9D9D9;
 
   
}
h6{ 
    font-size:50px;
    position: relative;
    top: 120px;
    border-bottom: 2px solid black ;
    padding-bottom: 40px;
    border-width: 2px;
}
.hello { 
    display: flex ;
    justify-content: center;
 
    height: 500px;
    }
.hello img { 
    width: 220px;
    height: 220px;
    position: relative;
    top: 120px;
}
.mark::after  {
    content: url("https://cdn-icons-png.flaticon.com/32/3898/3898671.png"); 
     
}
 
 body{ 
   background:  linear-gradient( to right,#79F1A4, #0E5CAD);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 }
 .aboutme{ 
     text-align: start;
     font-size: 50px;
     
 }
 .text{ 
    font-size:42px;
 }
 .about{ 
    margin-top: 200px;
    margin-left: 50px;
 }
 li{ 
    font-size: 35px;
 }
  
 .skills{ 
    margin-left: 50px;
    margin-top: 60px;
 }
 .myskills{ 
    text-align: start;
    font-size: 50px;
 }
 .html{ 
    width: 150px ;
    height:150px ;
    margin-top: 50px;
    margin-left: 60px;
 }
  
 
 .css{ 
    width:150px ;
    height:150px;
    margin-top: 50px;
    margin-left: 60px;
 }
  
  
 .figma{ 
   width:150px ;
   height:150px;
   margin-top: 50px;
   margin-left: 60px;
}
 
   
  .english{ 
   width:150px ;
   height:150px;
   margin-top: 50px;
   margin-left: 60px;

  }
  .english:hover{ 
   width: 180px ;
   height:180px ;
  }
  
  
 .GH{ 
   width: 50px;
   height:50px ;
    top: 42px;
   left: 300px;
   position: relative;
   transition: 0.3s ease ;
   }
   .GH:hover{ 
      
      transform: translateY(-10px);
   }

  
 .vk{ 
   width: 50px;
   height:50px ;
     top: 42px;
     left: 310px;
   position: relative;
   transition: 0.3s ease ;
 }
 .vk:hover{ 
   
   transform: translateY(-10px);
}
 .DS{ 
   width: 50px;
   height:50px ;
     top: 42px;
     left: 320px;
   position: relative;
   transition: 0.3s ease ;
 }
 .DS:hover{ 
    
   transform: translateY(-10px);
}
 .TG{ 
   width: 50px;
   height:50px ;
     top: 42px;
     left: 330px;
   position: relative;
   transition: 0.3s ease ;

 }
 .TG:hover{ 
   
   transform: translateY(-10px);
}
 @media screen and   (max-width: 1200px){  
 
}
@media screen  and (max-width:425px) {
   .dev {
    position: absolute;
    left: 850px;
    width: 300px;
    height: 300px;
    top: 1290px;
}
body{ 
   background:  linear-gradient( to right,#C7CE99,#40B72E);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

   
}
 
} 
@media screen and  (max-width:375px){
   .dev{
    position: absolute;
    left: 850px;
    width: 250px;
    height:250px;
    top: 1450px;
 }
   
}
@media screen and (max-width:320px) {
   .dev{
      position: absolute;
      left: 650px;
      width: 400px;
      height:400px;
      top: 1550px;
   }
   
}
.look{ 
   color: black;
   text-align: end;
   margin-right: 40px;
   text-align: center;
   margin-top: 90px; 
}
.sertif{ 
   text-decoration: none;
   color: rgb(0, 0, 0);
   border: 2px solid rgb(3, 82, 3);
   padding: 6px;
   border-radius: 10px;
   transition:   0.3s ease;
   text-decoration: none;
}

 
.sertif:hover {
    color: white;
    background-color:  rgb(3, 82, 3);
}
      

.jc{ 
   display: flex;
   justify-content: space-around;
}
.one{ 
   font-size: 60px;
   
}
.arrow{ 
   width: 50px;
   height: 50px;
}
.arrow {
   transform: translate3d(0, - 100%, 0);
animation: spin 2.4s infinite linear;
}

@keyframes spin {
0% {
  transform: translate3d(0, -25%, 0);
}
50% {
  transform: translate3d(0, 25%, 0);
}
100% {
  transform: translate3d(0, -25%, 0);
}
}
 .mapalign{ 
    text-align: center;
    margin-top: 60px;
} 
 .idabout{ 
   text-decoration: none;
   color:black;
   font-size: 27px;
   font-family: monospace;
   margin-right: 25px;
   position: relative;
   bottom: 33px;
   border: 2px solid green;
   padding: 6px;
   border-radius: 12px;
   margin-left: 25px;
}
.idabout:hover{ 
   background-color:green ;
   color:#D9D9D9;
}
.idskill{
   text-decoration: none;
   color:black;
   font-size: 27px;
   font-family: monospace;
   margin-right: 25px;
   position: relative;
   bottom: 33px;
   border: 2px solid green;
   padding: 6px;
   border-radius: 12px;
   
   
    
}
.idskill:hover{ 
   background-color:green ;
   color:#D9D9D9;
}
.sites{ 
   position: relative;
   left :10px;
}
 footer{ 
   background-color: #D9D9D9;
 }
 .copyright  { 
     
    
  
   text-align: center;
 }
 .copyright img{ 
   width: 15px;
   height: 15px;
   margin-top: 8px;
   margin-right: 2px;
 }
.dev{ 
   margin-left: 45px;
} 
.footer-sites{ 
   position: relative;
   left: 0px;
}
.fGH:hover{ 
   
      
   transform: translateY(-10px);
}
 
.fvk:hover{ 
      
   transform: translateY(-10px);
}
 
.fTG:hover{ 
      
   transform: translateY(-10px);
}.fDS:hover{ 
      
   transform: translateY(-10px);
}
.fGH{ 
   transition: 0.3s ease
}
.fTG{ 
   transition: 0.3s ease
}
.fvk{ 
   transition: 0.3s ease
}
.fDS{ 
   transition: 0.3s ease
}
.mail{ 
   font-size: 32px;
   transition: 0.3s ease;
}
p .mail:hover{
   color: #002661 ;

}
.tel{ 
   transition: 0.3s ease;
   font-size: 32px;
}
 p .tel:hover{
   color: #002661 ;
}
.mail::before{ 
content: url("https://cdn-icons-png.flaticon.com/24/542/542689.png");
display: inline-block;
position: relative;
top: 3px;
}
.tel::before{ 
   
 display: inline-block;
content: url("https://cdn-icons-png.flaticon.com/24/3059/3059502.png");
 }
  
  
   

  
 .FOTTER-CONT{ 
     position: relative;
     bottom: 40px;
     padding: 25px;
     left: 70px;
      
      
      
 }
 .FOTTER-CONT img{ 
   margin-top: 10px;
 }
 .con{ 
   text-align: center;
   position: relative;
   left: 50px;
   top: 90px;
   
 }
    .FOTTER-CONT  
 .folow { 
   font-size: 32px;
 }
 iframe{ 
   margin-bottom: 30px;
 }
 footer{ 
   border: #002661 3px   solid;
   border-top:   #002661 6px   solid;
 }
 header{ 
   border: #002661 3px   solid;
   border-bottom:   #002661 6px   solid;
 }
  
